*{
    font-family: cursive ;
    padding: 0;
    margin: 0;
}
.contianer {
    position: relative;
    background-color: #b8cbf2;
    min-height: 100vh;
}

.fieldWeather {
    display: flex;
    justify-content: space-between;

}

#app{
    font-size: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.holder{

}

.entry{
    background: rgb(45 197 234 / 40%);
    padding: 9px;
    border: 1px solid #ffffff85;
    border-radius: 5px;
    width: 309px;
    font-size: 18px;
}

span#uiData{
    color:#090e2a;
    font-weight: bold   ;
}

#entryHolder{

}

#date,#temp,#content{
    color: #FFF
}

.headline {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background: azure;
    color: #1c3684;
}

.myInput {
    height: 46px;
    max-width: 149ox;
    width: 351px;
    margin: 22px 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 1px #eefbfe;
}
.title{
    font-size: 22px;
    margin-bottom: 15px;
    color: aliceblue;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 24px;
    padding-left: 10px;
    color: #1c3684;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:rgb(212 219 255);
    color: #0c47c0;
    font-size: 20px;
    border: none;
}

button{
    width: 320px;
    height: 60px;
    background: #071352f7;
    color: #c7c7c7;
    font-size: 27px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 3px 7px #000000a3;
}
h1{
    font-size: 36px;
}

textarea{
    background:rgb(212 219 255);
    color: #0c47c0;
    font-size: 20px;
    border: 0;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
/*
::placeholder {
    color: #f0d43a;
}

:-ms-input-placeholder {
    color: #f0d43a;

}

::-ms-input-placeholder {
    color: #f0d43a;
}
*/